@import '../abstract/variaveis';

#servicos{
    margin: 80px;
    h3{
      font-size: $tamanho-do-texto / 2.5;  
      color: $cor-texto;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin: 1rem;
    }

    h4{
        text-align: center;
        font-size: $tamanho-do-texto / 1.2;
        margin-bottom: 80px;
        font-weight: 300;
        color: $cor-terciaria;
    }

    .cards{
        display: flex;
        justify-content: space-evenly;

        .card{
            width: 360px;
            text-align: center;
            h5{
                font-size: $tamanho-do-texto / 1.5;
                font-weight: 300;
                margin-top: 25px;
                margin-bottom: 20px;
                color:$cor-secundaria;
            }
            
            p{
                font-size: $tamanho-do-texto / 3;
                font-weight: 300;
                color: $cor-primaria;
                line-height: 1.25rem;

            }

            .img-container{
                padding-bottom: 2px;
                border-bottom: 3.5px solid $cor-terciaria;
                border-radius: 10px;
                
                img{
                    max-width: 100%;
                }
            }
        }
    }
}