//fontes
$fonte:'Roboto', sans-serif;

//cores
$cor-primaria:#553939;
$cor-secundaria:#A77979;
$cor-terciaria:#704F4F;
$cor-texto:#472D2D;
$cor-botao:#6B4F4F;
$cor-texto-secundario:#EED6C4;

// tamanho das fontes

$tamanho-do-texto: 3rem;
